.mission-container {
  padding: 2rem;
}

.main-title,
.main-title ul li {
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.096);
}

.main-title ul li {
  padding: 5px;
}

.mission-title ul,
.main-title ul {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.mission-title ul:nth-of-type(2n + 1) {
  background-color: #f2f2f2;
}

.mission-title ul li {
  border: solid 1px rgba(0, 0, 0, 0.096);
  padding: 5px;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
}

.name {
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-active {
  background-color: #6d757d;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.active-member {
  background-color: #17a2b9;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
}
