* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  background-color: #f4f7f8;
}

.logo-text {
  margin: 0;
  font-size: 24px;
}

.flex {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

nav li {
  list-style: none;
  padding: 0 25px;
}

.link {
  text-decoration: none;
  color: #4e98ec;
}

.active {
  text-decoration: underline;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin: 10px 20px;
}

.profile {
  border-left: 2px solid #4393ee;
  padding-left: 10px;
}

.rocket,
.dragon {
  display: flex;
}

.rocket-img img,
.dragon-img img {
  height: 240px;
  width: 290px;
  padding: 20px 0 10px 40px;
}

.rocket-description,
.dragon-description {
  padding: 20px;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.profile-container {
  margin: 25px;
  width: 30vw;
}

.profile-container div {
  border-radius: 2px;
}

.profile-container p {
  margin: 25px;
}
